<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- log4jdbc 로그 레벨 설정 -->
<!--    <logger name="jdbc.sqltiming" level="DEBUG"/>-->
<!--    <logger name="jdbc.sqlonly" level="DEBUG"/>-->
<!--    <logger name="jdbc.audit" level="DEBUG"/>-->
<!--    <logger name="jdbc.resultset" level="DEBUG"/>-->
<!--    <logger name="jdbc.connection" level="DEBUG"/>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
